$size: 56px;

.avatar {
    &.checkbox {
        min-width: $size;
        height: $size;
        padding: 0;
        position: relative;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
    }
}
