$size: 50px;

.avatars {
    .btn {
        width: $size;
        height: $size;
        padding: 0;
        opacity: 0.5;

        .active {
            opacity: 1;
        }

        img {
            width: $size;
            height: $size;
            border-radius: 50%;
        }
    }
    .col img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 1s;
        object-fit: cover;
    }
    .col label {
        overflow: hidden;
        position: relative;
    }
    .imgbgchk:checked + label > .tick_container {
        opacity: 1;
    }
    /*         aNIMATION */
    .imgbgchk:checked + label > img {
        transform: scale(1.25);
        opacity: 0.3;
    }
    .tick_container {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        cursor: pointer;
        text-align: center;
    }
    .tick {
        background-color: #4caf50;
        color: white;
        font-size: 16px;
        padding: 6px 12px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }
}
