$primary: #c100fb;

@import "../../node_modules/mdb-ui-kit/src/scss/mdb.free.scss";
@import "./footer";
@import "./player";
@import "./online-users";

.container {
    margin-top: 24px;

    .content {
        align-items: center;
        justify-content: center;
        & > * {
            align-self: unset;
            width: 80%;
            height: 100%;
        }
    }
}
