$primary: #c100fb;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 800px,
    xl: 850px,
    xxl: 860px,
);

@import "../../node_modules/mdb-ui-kit/src/scss/mdb.free.scss";
@import "../../node_modules/swiper/swiper.scss";
@import "./footer";
@import "./player";
@import "./online-users";
@import "./update-profile";
@import "./movies";

body {
    min-height: 150vh;
}

.container {
    margin-top: 24px;

    .content {
        align-items: center;
        justify-content: center;
        & > * {
            align-self: unset;
            width: 80%;
            height: 100%;
        }
    }
}

.tab-text {
    font-size: 24px;
    margin-bottom: 20px;
    color: $primary;
    text-shadow: $primary 0px 0px 4px;
}

.roovie-toast {
    background: linear-gradient(
        135deg,
        rgba($primary, 0.5),
        $primary
    ) !important;
}
