<footer class="footer hstack gap-3 justify-content">
    <a
        class="btn btn-outline-primary"
        href="https://github.com/techano-developers/roovie-opensource"
        target="_blank"
    >
        <div class="hstack gap-2">
            <i class="fa-brands fa-github"></i>
            <span> Open Source </span>
        </div>
    </a>
</footer>

<script src="/js/bundle.js"></script>
