<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../layout/header'); %>
        <div class="container mx-auto mt-5"><%{{ content }}%></div>
    </body>
</html>
