<div class="vstack w-100">
    <div class="tab-text">Movies</div>

    <form class="movie-form vstack gap-2" autocomplete="off">
        <input
            name="name"
            type="text"
            class="form-control"
            placeholder="Movie name"
        />
        <input
            name="url"
            type="url"
            class="form-control"
            placeholder="Movie url"
        />
        <button class="btn btn-primary">Add movie</button>
    </form>
</div>
