<form class="update-profile vstack gap-2" autocomplete="off">
    <div class="hstack gap-2">
        <input
            name="name"
            type="text"
            class="username form-control w-100"
            placeholder="Your display name"
        />
        <button class="btn btn-primary">Update</button>
    </div>
    <div class="hstack gap-2 avatars">
        <% for (var i =0; i <=4; i++ ) { %>
        <div class="col text-center">
            <input
                type="radio"
                name="avatar"
                id="avatar-<%- i%>"
                class="d-none imgbgchk"
                value="/avatars/file<%- i%>.jpg"
            />
            <label for="avatar-<%- i%>">
                <img src="/avatars/file<%- i%>.jpg" alt="" />
                <div class="tick_container">
                    <div class="tick"><i class="fa fa-check"></i></div>
                </div>
            </label>
        </div>
        <% } %>
    </div>
</form>
