<div class="vstack">
    <div class="online-users-counter">4 Online</div>
    <div class="online-users">
        <div class="online-user">
            <img
                class="photo rounded-circle"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
            />
            <div>Abolfazl Alizadeh</div>
        </div>
        <div class="online-user">
            <img
                class="photo rounded-circle"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
            />
            <div>Abolfazl Alizadeh</div>
        </div>
    </div>
</div>
