<div class="vstack">
    <div class="online-users-counter">4 Online</div>
    <div class="online-users">
        <div class="online-user">
            <img class="photo rounded-circle" src="/avatars/file0.jpg" />
            <div>Abolfazl Alz</div>
        </div>
        <div class="online-user">
            <img class="photo rounded-circle" src="/avatars/file1.jpg" />
            <div>Armin Hsn</div>
        </div>
    </div>
</div>
